@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

header {
    height: calc(100vh - 100px);
    background: no-repeat bottom/cover url('header-image2.jpg');
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 30px;
    color: #fff;
}

header nav p {
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0px 15px;
}


.header-content {
    max-width: 500px;
    margin: 220px auto;
    color: #fff;
    text-align: center;
}


.header-content h1 {
    font-size: 3.5rem;
    margin-bottom: 8px;
}

button {
    padding: 10px 15px;
    border-radius: 6px;
    width: 100px;
    border: 0;
    background: #4b9dcd;
    font-family: 'Montserrat';
    font-weight: bold;
    color: white;
}

.travel-packages {
    background-color: #fff;
    padding: 50px;

}

.travel-packages .travel-packages-title {
    max-width: 950px;
    color: #4b9dcd;
    margin: auto;
    padding: 20px 15px;
    ;
}

.travel-packages-cards {
    display: flex;
    margin: 15px auto;
    max-width: 950px;
    justify-content: center;
    flex-wrap: wrap;
}

.travel-packages .card {
    color: white;
    background-color: #fff;
    width: 250px;
    height: 350px;
    border-radius: 14px;
    margin: 25px;
    position: relative;
    box-shadow: 0 2px 8px 0 rgba(32, 33, 36, .28);


}

.travel-packages .card .card-tag p {
    margin: 0;
    font-size: 0.8rem;
    color: white;
    font-weight: bold;
}

.travel-packages .card .card-tag-top {
    position: absolute;
    right: 0;
    background: red;
    border-radius: 8px 0 0 8px;
    padding: 6px 16px;
    top: 15px;

}


.travel-packages .card .card-tag-bottom {
    position: absolute;
    left: 0;
    background: #4b9dcd;
    border-radius: 0 8px 8px 0;
    top: 100px;
    padding: 6px 16px;

}


.travel-packages .card-image {
    width: 250px;
    height: 150px;
    border-radius: 14px 14px 0px 0px;
    object-fit: cover;
}

.travel-packages .card-content {
    margin-bottom: 0;
    padding: 0 16px;
    color: #4b9dcd;
}

.travel-packages .card-content p {
    font-size: 0.8rem;
    color: grey;

}

.travel-packages .card-content h1 {
    font-size: 1.5rem;
}

.travel-packages .card-content ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}


.travel-packages .card-content ul li {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    margin: 5px 0;
    color: grey;
}

.travel-packages .card-content li svg {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.services {
    padding: 30px 0 50px 0;
}

.services .services-title {
    text-align: center;
    padding: 15px 0 50px 0;
    color: #4b9dcd;
}

.services .services-cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 950px;
    justify-content: center;
    margin: auto;
}

.services .card svg {
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
    transition: all 1s;
    color: #4b9dcd;

}

.services .card svg:hover {
    stroke: #00224b;
    transform: scale(1.1);
}

.services .services-cards .card {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;

}


.services .card .card-content {
    height: 180px;
    max-width: 200px;
    text-align: center;
    color: grey;
}

.contact {
    padding: 60px;
    position: relative;
}

.contact .contact-card {
    width: 350px;
    height: 300px;
    background: #ffc905;
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;

    top: calc(50% - 150px);
    left: calc(25% - 175px);
    border-radius: 8px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

.contact-card .contact-content {
    color: white;

}

.contact-card .contact-content h1 {
    text-align: left;
    padding-left: 45px;
}

.contact-card .contact-content li {
    font-size: .8rem;
    display: flex;
    align-items: center;
}

.contact-card .contact-content li svg {
    width: 16px;
    margin: 8px;
}

#map {
    height: 400px;
    width: 100%;
}

footer {
    background-color: #4b9dcd;
    max-height: 180px;
    padding: 15px;
}

.footer-title {
    margin-left: 10px;
    color: #fff;
}

.footer-content {
    color: #fff;
    margin-left: 20px;
}

.footer-icons svg {
    height: 22px;
    width: 22px;
    margin-right: 10px;
}



/* RESPONSIVE */

/* Landscape section contact map */

@media (max-width: 950px) {
    .contact {
        padding: 60px 0;
    }

    .contact .contact-card {
        left: 40px;
    }
}

@media (max-width: 800px) {
    .contact {
        padding: 20px 0;
    }

    .contact .contact-card {
        position: static;
        margin: 40px auto;
    }
}

/* Landscape phone to portrait tablet */

@media (max-width: 767px) {}

/* Landscape phone and down */

@media (max-width: 480px) {

    body {
        margin-bottom: 55px;
    }

    header nav ul {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        background: #4b9dcd;
        height: 56px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 99;
    }

    .header-content {
        max-width: 400px;
        margin: 260px auto;
    }

    header nav p {
        width: 100%;
        text-align: center;
    }

    .header-content h1 {
        font-size: 3rem;
        margin-bottom: 8px;
    }

}
